<div class="admin-nav">
    <a><b>Admin Menu</b></a>
    <a href="/admin">Index</a>
    <a href="/admin/posts">Posts</a>
    <a href="/admin/config">Config</a>
</div>

<style>
    .admin-nav {
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .admin-nav a {
        margin-right: 1rem;
    }
</style>