<div class="nav">
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
</div>

<style>
    .nav {
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .nav a {
        margin-right: 1rem;
    }
</style>