<div class="nav">
    <a><b>{{ site_name }}</b></a>
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tags">Tags</a>
    {% if open_registration and is_logged_in == false %}<a href="/auth/register">Register</a>{% endif %}
    {% if is_logged_in != true %}
        <a href="/auth/login">Login</a>
    {% else %}
        <a href="/auth/logout">Logout</a>
    {% endif %}
</div>

{% if is_admin %}{% include "adminnav.liquid" %}{% endif %}

<style>
    .nav {
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid #cccccc;
    }

    .nav a {
        margin-right: 1rem;
        color: #5d2e79;
    }
</style>