<!DOCTYPE html>
<html>

<head>
    {% include 'header.liquid' %}
    <title>Admin: Site Config | {{ site_name }}</title>
</head>

<body>
    <div class="container">
        {% include 'sitenav.liquid' %}

        <h1>Site Config</h1>
    </div>
</body>

</html>