<!DOCTYPE html>
<html>

<head>
    {% include 'header.liquid' %}
    <title>Admin: Index | {{ site_name }}</title>
</head>

<body>
    <div class="container">
        {% include 'sitenav.liquid' %}

        <p>Welcome to {{ site_name }}!</p>
    </div>
</body>

</html>