<!DOCTYPE html>
<html>

<head>
    {% include './header.liquid' %}
</head>

<body>
    <div class="container">
        {% include 'sitenav.liquid' %}

        <h1>404 Page Not Found</h1>
        <p>You may want to visit home or other pages.</p>
    </div>
</body>

</html>