<!DOCTYPE html>
<html>

<head>
    {% include './header.liquid' %}
    <title>Error: {{ title }} | {{ site_name }}</title>
</head>

<body>
    <div class="container">
        {% include 'sitenav.liquid' %}

        <h1>{{ title }}</h1>
        <p>{{ body }}</p>
    </div>
</body>

</html>