<!DOCTYPE html>
<html>

<head>
    {% include './header.liquid' %}
</head>

<body>
    <div class="container">
        {% include 'sitenav.liquid' %}

        <p>Welcome to {{ site_name }}!</p>
    </div>
</body>

</html>